<main>
    <h1>${title}</h1>
    <form action="/update" method="POST">
        ${data.map(topic =>
            `<label>
                I am
                <select name="${topic.topic_name}">
                    ${rankings.map(rank =>
                        `<option value="${rank.id}" ${topic.topic_score === rank.id ? 'selected' : ''}>${rank.ranking_title}</option>`
                    ).join('')}
                </select>
                at ${topic.topic_name}!
            </label>`
        ).join('')}
        <button type="submit">Update Ranking</button>
    </form>
</main>
